<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header class="container">
      <div>
        <h1>BarCamp Green Bay</h1>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>