<div class="attendance-info">
  <% if signed_in? %>
    <% if current_user.presentations.include?(presentation) %>
      <%= link_to('Unattend This Session', unattend_presentation_path(presentation), remote: true, class: 'btn btn-danger toggle-attendance') %>
    <% else %>
      <%= link_to('Attend This Session', attend_presentation_path(presentation), remote: true, class: 'btn btn-primary toggle-attendance') %>
    <% end %>
  <% end %>
  <span class="attendance-count"><%= pluralize(presentation.users.count, 'attendee') %></span>
  <% if not signed_in? %>
  	<%= link_to('Sign in to attend', signin_path) %>
  <% end %>
</div>