$('#registration-form .modal-body').html('<div class="alert alert-success">Alright, you\'re all set!</div>');
$('#registration-form .modal-footer').remove();
setTimeout(function() {
	$('#registration-form').modal('hide');
}, 2000);