<div class="block-intro">
  <div class="container">
    <%= image_tag('logo-white.png', class: 'logo') %>
    <p>BarCamp Green Bay is a community-organized, participant-led conference that creates a diverse and open environment for sharing knowledge.</p>
    <p>This free event is entirely produced by you, the participants, so chances are if you are an attendee you are also a speaker. The topics tend to be somewhat tech-focused, but anyone and everyone is welcome and encouraged to attend and present on whatever they find fascinating.</p>
    <p>A typical BarCamp starts off with participant collaboration on the session grid, which is broken up into 45-minute blocks. Propose a talk, discussion, demo, workshop… whatever works for you! If presenting isn’t your thing, no problem; find another way to contribute, like picking up trash or helping with set-up and take-down.</p>
  </div>
</div>