<div class="block block-sponsors">
  <div class="container">
    <h2 class="block-title">Sponsors</h2>
    <div class="row-fluid">
      <div class="span6">
        <a href="http://www.snc.edu/" target="_blank" title="St. Norbert College"><%= image_tag('SNC-Logo.png', alt: 'St. Norbert College') %></a>
        <a href="http://github.com/" target="_blank" title="GitHub"><%= image_tag('github-logo.png', alt: 'GitHub') %></a>
      </div>
      <div class="span6">
        <p class="lead">Chris Jaure, Chris Schmitz, Chris Knight, Perry Sieber, Jason Beck</p>
      </div>
    </div>
    <hr />
    <p>Be part of something amazing. <a href="https://www.wepay.com/donations/barcamp-gb-2013" target="_blank">Sponsor BarCamp Green Bay!</a></p>
  </div>
</div>