<div class="block-intro">
  <div class="container">
    <%= image_tag('logo-white.png', class: 'logo') %>
    <p class="lead"><strong>BarCamp Green Bay</strong> is part of an international network of community-organized, participant-led conferences that create a diverse and open environment for sharing knowledge.</p>
  </div>
</div>