<div id="about" class="block block-about">
	<div class="container">
		<h2 class="block-title">About</h2>
	    <p>This free event is entirely produced by <strong>you</strong>, the participants, so chances are if you are an attendee you are also a speaker. The topics tend to be somewhat tech-focused, but anyone and everyone is welcome and encouraged to attend and present on whatever they find fascinating.</p>
		<p>A typical BarCamp starts off with participant collaboration on the session grid, which is broken up into 45-minute blocks. Propose a talk, discussion, demo, workshop… whatever works for you! If presenting isn’t your thing, no problem; find another way to contribute, like picking up trash or helping with set-up.</p>
	</div>
</div>