<div class="block block-location">
  <div class="container">
    <div class="row-fluid">
      <div class="span5 offset1">
        <div class="calendar block-icon">
          <div class="calendar-month">Nov</div>
          <div class="calendar-day">16</div>
        </div>
        <h3>Saturday</h3>
        <p>November 16, 2013</p>
      </div>
      <div class="span6">
        <%= image_tag('location-marker.png', class: 'block-icon location-marker') %>
        <h3 class="clear-sp-outer-top">
          Bemis Conference Center
          <a href="https://maps.google.com/maps?q=bemis+conference+center&ll=44.446312,-88.068466&spn=0.009942,0.022724&safe=off&fb=1&gl=us&hq=bemis+conference+center&hnear=0x8802fc3a8795504f:0x43c09bf2c74137b6,De+Pere,+WI&cid=0,0,2348797930878773227&t=m&z=16" title="Get directions" target="_blank">
            ➪
          </a>
        </h3>
        <p>
          St. Norbert College<br />
          De Pere, WI<br />
          <small><a href="/ParkingMap.pdf" target="_blank">Campus Map (Parking in P14)</a></small>
        </p>
      </div>
    </div>
  </div>
</div>