<div class="block block-location">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="calendar">
          <%= image_tag('calendar.png', class: 'block-icon') %>
          <div class="calendar-body">
            <div class="calendar-month">Nov</div>
            <div class="calendar-day">16</div>
          </div>
        </div>
        <h3>Saturday</h3>
        <p>November 16, 2013</p>
      </div>
      <div class="span6">
        <%= image_tag('location-marker.png', class: 'block-icon location-marker') %>
        <h3>St. Norbert College</h3>
        <p>De Pere, WI</p>
      </div>
    </div>
  </div>
</div>