<div id="schedule" class="block block-schedule">
  <div class="container">
    <h2 class="block-title">Schedule</h2>
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="event-time-bg"></div>
        <div class="event">
          <div class="event-time">
            8:00 <small>a.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Breakfast</h3>
            <div class="event-info-description">Sponsored by <a href="http://github.com/">GitHub</a></div>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            9:00 <small>a.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Opening Session</h3>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            10:00 <small>a.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Breakout Sessions</h3>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            12:00 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Lunch @ Gallagher's Pizza</h3>
            <div class="event-info-description">(free soda with buffet purchase!)</div>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            1:00 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Breakout Sessions</h3>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            4:00 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Closing Session</h3>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            5:00 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Dinner (not provided)</h3>
            <div class="event-info-description">small groups at local restaurants</div>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            6:30 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Lightning Talks</h3>
            <div class="event-info-description">give a quick 5-minute talk on whatever you want</div>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            7:00 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Unstructured</h3>
            <div class="event-info-description">play games, hack on some code, or just mingle!</div>
          </div>
        </div>
        <div class="event">
          <div class="event-time">
            11:30 <small>p.m.</small>
          </div>
          <div class="event-info">
            <h3 class="event-info-title">Clean-Up</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>