<div class="block block-sponsors">
  <div class="container">
    <h2 class="block-title">Sponsors</h2>
    <div class="row-fluid">
      <div class="span6">
        <a href="http://www.snc.edu/" target="_blank" title="St. Norbert College"><%= image_tag('SNC-Logo.png', alt: 'St. Norbert College') %></a>
        <a href="http://github.com/" target="_blank" title="GitHub"><%= image_tag('github-logo.png', alt: 'GitHub') %></a>
      </div>
      <div class="span6">
        <p class="lead">Chris Jaure, Chris Schmitz, Chris Knight, Perry Sieber, Jason Beck</p>
      </div>
    </div>
    <hr />
    <p>Be part of something amazing. <a href="https://www.wepay.com/donations/barcamp-gb-2013" target="_blank">Sponsor BarCamp Green Bay!</a></p>
    <p>Right now we are looking for another breakfast sponsor and a few more lunch sponsors. We would love to be able to provide a free lunch to attendees!</p>
    <p>Consider sponsoring $50-$200 and we will list you on this site and give you a shout-out during the event.</p>
  </div>
</div>