<div class="block block-sponsors">
  <div class="container">
    <h2 class="block-title">Sponsors</h2>
    <p>Be part of something amazing. <a href="https://www.wepay.com/donations/barcamp-gb-2013" target="_blank">Sponsor BarCamp Green Bay!</a></p>
    <div class="row-fluid">

    </div>
  </div>
</div>