<div class="block block-sponsors">
  <div class="container">
    <a id="sponsor" class="anchor"></a>
    <h2 class="block-title">Sponsors</h2>
    <div class="row-fluid">
      <div class="span8">
        <ul class="thumbnails">
          <li>
            <a class="thumbnail" href="http://www.nwtc.edu/" target="_blank" title="Northeast Wisconsin Technical College"><%= image_tag('NWTC-logo.gif', alt: 'Northeast Wisconsin Technical College') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://greenbay.startupweekend.org/" target="_blank" title="Startup Weekend Green Bay"><%= image_tag('swgb-logo.png', alt: 'Startup Weekend Green Bay') %></a>
          </li>
          <li>
            <a class="thumbnail" href="http://gallagherspizza.com/" target="_blank" title="Gallagher's Pizza"><%= image_tag('gallaghers-logo.png', alt: 'Gallagher\'s Pizza') %></a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <p class="lead"></p>
      </div>
    </div>
    <hr />
    <p>Be part of something amazing. <a href="https://www.payitsquare.com/collect-page/43084" target="_blank">Sponsor BarCamp Green Bay!</a></p>
    <p>Consider sponsoring $50-$200 and we will list you on this site and give you a shout-out during the event.</p>
  </div>
</div>
