<header class="header">
  <div class="container clearfix">
    <div class="pull-left">
      <a href="#">About</a>
      <a href="#">Schedule</a>
    </div>
    <div class="pull-right">
      <a href="#">Donate</a>
      <a class="btn-cta" href="#">Register</a>
    </div>
  </div>
</header>