<header class="header">
  <div class="container clearfix">
    <div class="pull-left">
      <a href="#about">About</a>
      <a href="#schedule">Schedule</a>
    </div>
    <div class="pull-right">
      <a class="wepay-widget-button" id="wepay_widget_anchor_52561d6fed409" href="https://www.wepay.com/donations/barcamp-gb-2013">Sponsor</a>
      <a class="btn-cta" href="#">Register</a>
    </div>
  </div>
</header>